// None box-shadow
* {
    box-shadow: none !important;
}

// ajaxStart - ajaxStop
#ajaxLoader {
    position: fixed;
    width: 100%;
    height: 100%;
    background: $gray_rgba;
    z-index: 2000;
    top: 0;
    left: 0;
    text-align: center;
    display: none;
    &.active {
        display: table;
    }
    i {
        color: $white;
        display: table-cell;
        font-size: 3em;
        margin: 0 auto;
        vertical-align: middle;
    }
}

// DataTables
.table-pp td:last-child {
    text-align: center;
}

// Font 12
.font-12 {
    font-size: 12px !important;
}

// No info - Input file
.custom-file-label::after {
    display: none !important;
}

// Special option
.special-option {
  font-weight: bold !important;
  color: $white !important;
  background: $red_special_option !important;
}

.special-option .text-muted {
    color: $white !important;
}

// Others
.div-table-dynamic {
    max-width: 600px !important;
}

.td-350 {
    max-width: 350px !important;
}

.td-125 {
    max-width: 125px !important;
}